@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');
body {
  background-color: #2a2b2a;
}
h2 {
  font-family: 'Alkalami', serif;
  font-size: 4vh;
  color: rgb(148, 170, 242);
}
p {
  font-family: Lato;
}

input {
  display: block;
  margin: 2%;
}

.firsts-selects {
  width: 40%;
  display: inline;
}
.view {
  font-size: 2.5rem;
}



.round {
  border-radius: 50%;
  width: 10rem !important;
  height: 10rem;
  font-size: 4rem;
}

.select-title {
  font-size: 3vh;
  font-weight: bold;
  margin: 2% 6%;
} 

.previus-btn {
  margin-left: 9%;
}
.next-btn {
  margin-left: 55%;
}

select {
  height: 5rem;
  font-size: 3rem;
}